// gradient (#9985DF, #CE9BCF)
// FECE64
// F5C160
// 7154C2
// 988ACD
// wave #FFE4AA
// E0DAFD

// Font Family
$font-family-inter: 'Inter', sans-serif

$font-family: ( 'inter': $font-family-inter)

// Colors scheme
$colors: ('primary': #6042D1, 'text': #9ca3af, 'background': #111827, 'wave': #ffe4aa, 'white': #ffffff)
