#jumbotron
	display: flex
	.hero
		width: 1100px
		margin: 40px
		margin-top: 10px
		margin-left: 100px
		margin-right: 10px
		h1 
			font-size: 70px
			margin-top: 10px
			margin-bottom: 20px
		h2
			font-size: 70px 
			margin-top: -30px 
			margin-bottom: 40px
			color: color("primary")
		h4
			font-size: 21px
			margin-top: 40px
			margin-bottom: 10px
		.primary
			width: 115px
			height: 40px
			border: 0px
			border-radius: 5px
			margin-right: 40px
			background-color: color("primary")
		.outline
			width: 115px
			height: 40px
			border: 2px
			border-style: solid
			border-radius: 5px
			margin-right: 40px

	.about
		margin: 40px
		margin-left: 70px
		margin-right: 90px
		.about-heading
			font-size: 35px
			margin-bottom: 15px
		.about-paragraph
			margin-bottom: 30px
			.about-primary
				color: #5a4dcc
				font-weight: bold
		.primary 
			width: 115px
			height: 40px
			border: 0px
			border-radius: 5px
			margin-right: 40px
			margin-bottom: 60px
			background-color: color("primary")
		.about-detail
			li
				display: inline-block
				margin-top: -35px
				margin-left: 90px
				margin-right: 30px
				h4
					color: #5a4dcc
					font-size: 60px
					margin-bottom: 0px
				span
					margin-left: 13px