#jumbotron
	display: flex
	.hero
		width: 800px
		margin: 40px
		margin-left: 100px
		margin-right: 10px
	.about
		margin: 40px
		margin-right: 100px
		.about-heading
			font-size: 35px
		.about-paragraph
			.about-primary
				color: #5a4dcc
				font-weight: bold
		.about-detail
			li
				display: inline-block
				margin-top: -35px
				margin-left: 110px
				margin-right: 30px

				h4
					color: #5a4dcc
					font-size: 60px
					margin-bottom: 0px

				span
					margin-left: 13px
