.nav
  align-items: center
  display: flex
  justify-content: space-around
  padding: 20px
  &-list
    align-items: center
    display: flex
    justify-content: space-between
    width: 40%
  &-phone
    border: 1px solid color('text')
    padding: 10px
    border-radius: 10px
    .fa-phone
      color: color('primary')
