#offer
	.offers-container
		display: flex
		flex-direction: row
		justify-content: space-evenly
		.offer-article
			width: 300px
			display: flex
			flex-direction: column
			justify-content: space-between
			#protect
				color: color("primary")
		.offer-details
			#list-reasons
				display: flex
				flex-direction: row
				flex-wrap: wrap
				justify-content: space-between
				align-items: center
				width: 800px
				height: 205px
