#offer
	width: 100%
	height: 880px
	display: flex
	flex-direction: column
	justify-content: space-between
	.offers-container
		display: flex
		flex-direction: row
		justify-content: space-evenly
		.offer-article
			width: 30%
			display: flex
			flex-direction: column
			justify-content: space-around
			#protect
				color: color("primary")
		.offer-details
			width: 50%
			#list-reasons
				height: 205px
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				align-items: center
	.limited-offers
		width: 100%
		height: 430px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
		.limited-offers-brand
			width: 100%
			height: 100px
			display: flex
			justify-content: center
			align-items: center
			background-color: color("primary")
			.limited-offers-heading
				color: color("white")
		.offers-container
			width: 100%
			display: flex
			flex-direction: column
			align-items: center
			.offer
				width: 85%
				height: 90px
				display: flex
				flex-direction: row
				justify-content: space-between
				.offer-text
					display: flex
					flex-direction: column
					h4
						font-size: 1.3em
				.offer-price
					display: flex
					flex-direction: column
					h4
						color: color("primary")
						display: flex
						flex-direction: row
						font-size: 2.2em
					pre
						font-size: 0.3em
					span
						font-size: 0.8em
			.btn-primary-outline
				background: transparent
				border: 2px solid color('primary')
				border-radius: 20px
				width: 25%
				height: 15%
				transition: all .5s ease-in-out
				cursor: pointer
				&:hover
					background: color('primary')
					color: color('white')

@media screen and (max-width: 768px)
	.offer
		.offers-container
			width: 130%
			.offer-details
				#list-reasons
					width: 50%

@media screen and (max-width: 567px)
	.offer
		padding-top: 10px
		padding-bottom: 120px
		.offers-container
			margin-top: 10px
		.limited-offers
			margin-top: 60px
			.offers-container
				.offer
					height: 200px