.report
  width: 1350px
  display: flex
  justify-content: center
  .report-wrapper
    width: 600px
    height: 520px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    border-radius: 10px
    background-color: color("white")
    .report-header
      font-size: 40px
    .form-report
      .form
        display: flex
        flex-direction: column
        justify-content: center
        #name, #email, #sentences, .btn-primary
          width: 500px
          height: 50px
        #name, #email, #sentences
          margin-bottom: 13px
          border: 2px solid color("text")
          border-radius: 5px
        #name, #email, .btn-primary
          height: 50px
        #name, #email
          font-size: 17px
          padding-left: 10px
        #sentences
          height: 150px
          padding: 10px
