.report
  width: 100%
  display: flex
  justify-content: center
  .report-wrapper
    width: 40%
    height: 520px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    border-radius: 10px
    background-color: color("white")
    .form-report
      .form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        #name, #email, #sentences, .btn-primary
          width: 100%
          height: 50px
        #name, #email, #sentences
          margin-bottom: 13px
          border: 2px solid color("text")
          border-radius: 5px
        #name, #email, .btn-primary
          height: 50px
        #name, #email, #sentences
          padding: 3%
        #name, #email
          font-size: 1.2em
        #sentences
          height: 150px

@media screen and (max-width: 768px)
  .report
    .report-wrapper
      width: 60%

@media screen and (max-width: 567px)
  .report
    .report-wrapper
      width: 90%
      .form-report
        .form
          #name, #email, #sentences, .btn-primary
            width: 60%